<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students_Info</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body class="bo">
    <fieldset>
    <legend id="Welcome">Students Information</legend>

    <p class="Input">
    <label>Index Number</label>
    <input type="Name" placeholder="Students ID"/></p>

    <p class="Input">
    <label>Password</label>
    <input type="Password" placeholder="Password"/></p>

    <p class="Input">
    <label>Email</label>
    <input type="Email" placeholder="Student@gmail.com"/></p>

    <p>
    <input type="Submit" Value="Login" class="Submit"/></p>


    </fieldset>
</body>
</html>